<footer class="bg-dark text-white font-monospace text-center py-4">
  <section class="mb-4 d-flex flex-wrap justify-content-center " >
    <a href="#home" (click)="scrollTo($event, 'home')" class="text-info text-decoration-none   mx-3">Home</a>
    <a href="#about" (click)="scrollTo($event, 'about')" class="text-info text-decoration-none mx-3">About</a>
    <a href="#skills" (click)="scrollTo($event, 'skills')" class="text-info text-decoration-none mx-3">Skills</a>
    <a href="#projects" (click)="scrollTo($event, 'projects')" class="text-info text-decoration-none mx-3">Projects</a>
    <a href="#contact" (click)="scrollTo($event, 'contact')" class="text-info text-decoration-none mx-3">Contact</a>
  </section>

  <section class="fs-5 mb-4">
    &lt;/> with <span class="text-primary">♥</span> by Viram Kushwaha
  </section>

  <section>
    <a href="https://www.linkedin.com/in/viram-kushwaha/" target="_blank"
      class="text-info text-decoration-none mx-2 fs-4">
      <i class="bi bi-linkedin"></i>
    </a>
    <a href="https://github.com/Viram7/" target="_blank" class="text-info text-decoration-none mx-2 fs-4">
      <i class="bi bi-github"></i>
    </a>
    <a href="https://www.facebook.com/vicky.kushwaha.7712826" target="_blank"
      class="text-info text-decoration-none mx-2 fs-4">
      <i class="bi bi-facebook"></i>
    </a>

    <a href="https://www.instagram.com/_vi_ram/" target="_blank" class="text-info text-decoration-none mx-2 fs-4">
      <i class="bi bi-instagram"></i>
    </a>
  </section>
</footer>
